<div>
    <h1>{{album.name}}</h1>
    <h4>{{album.artists[0].name}}</h4>
    <div class="row px-4">
        <div class="col-2">
            <img src="{{album.images[1].url}}" alt="">
        </div>
        <div class="col-10">
            <h3>Tracce:</h3>
            <div *ngFor="let t of album.tracks.items">
            
                <ul class="list-group">
                    <li class="list-group-item">            
                        <a [routerLink]="['/tracks', t.id]">
                        {{ t.name }}
                      </a></li>
    
                  </ul>
            </div>
        </div>
        </div>
        {{album|json}}

    

</div>