<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Esercizio 15.1</h2>
    <button type="button" (click)="makeRequest()">Make Request</button>
    <div *ngIf="loading">loading...</div>
    <pre>{{data | json}}</pre>
    <button type="button" (click)="makeCompactPost()">Make Post</button>
    <br><br>
    <h2>Esercizio 15.2</h2>
    <button type="button" (click)="makeTypedRequest()">Make typed request</button>

<!--Uso un ciclo for per scandire tutta la lista di articoli-->
<div *ngFor="let art of fooData">
   <h3>{{art.title}}</h3>
   <b>post {{art.id}}0 di utente #: {{art.userId}}</b>
   <div>
       {{art.body}}
   </div>
   <hr>
</div>

</body>
</html>